/*CSS DOCUMENT*/
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}
img {
    width: 100%; 
    display:block
}
body {
	background-color: rgb(245, 240, 240); /* Not totally white. */
	color:rgb(31, 31, 31);  /* Not totally black. */
	line-height: 150%; 	/* A little extra leading. */
	font-family: sans-serif;
    width:100%
}
nav {
    padding: .1rem 1.5rem .1rem;
    background-color: rgb(245, 240, 240);
    font-weight: bold;
	text-transform: uppercase;
}

main {
    margin-top: 1.5rem;
    padding-top: 1rem;
    position:absolute;
    border-radius: 15px;
    background-color: rgb(232, 222, 205);
    text-align: center;
    width: 100%;
}
h1 {
    
	background-color: rgb(245, 240, 240);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;	
    padding: 1.5rem 1rem 1rem;

}
h2 {
	background-color: rgb(245, 240, 240);
	color: rgb(210, 197, 140);
	font-size: 4em;
	padding: 1.5rem 1rem .3rem;
    font-family: abril-display,serif;
    font-weight: 700;
    font-style: italic;
   
}
h3 {
	margin: 1rem 1rem .4rem;
	padding-top: .7rem;
    padding-bottom: 1rem;
	font-size: 1.6rem;
	color: rgb(169, 55, 43);
	text-transform: uppercase;
	letter-spacing: .1em; 
	border-top: 3px solid rgb(169, 55, 43);
    font-family: degular,sans-serif;
    font-weight: 600;
    font-style: normal;
}
h4 {
    font-size: 1.5rem;
    font-family: degular,sans-serif;
font-weight: 700;
font-style: normal;
padding-bottom: .3em;
}
h5{
font-family: degular,sans-serif;
font-weight: 500;
font-style: normal;
font-size: 1.2em;
}
p.description {
	font-family: degular, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: .9rem;
    line-height: normal;
    padding: .3em 1em 0em;
}
p.add{
    font-family: degular,sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: .8em;
    color:rgb(102, 65, 65)
}

p.price {
	color: rgb(169, 55, 43);
    font-family: degular,sans-serif;
font-weight: 400;
font-style: normal;

}

ul {
	margin: 1rem 0rem 4.3rem;
}

li { 
	margin: 1rem 1rem .05rem;
    list-style: none;
}
nav li {
    margin:1em 1em 1em 2em;
    display: inline;
}
nav ul {
    margin: .8em 0em .8em;
    text-align: center;
}
li.open{
    text-align: center;
}
p.long{
    background-color: rgb(245, 240, 240); 
    
	color:rgb(31, 31, 31); 
    margin: 1rem 2em .4rem;
	font-family: degular,sans-serif;
font-weight: 400;
font-style: normal;
    
}
nav ul li a{
    color:rgb(169, 55, 43);
    text-decoration: none;
}
nav a:hover{
    color:rgb(102, 65, 65) ;

}
li.open{
    font-family: degular,sans-serif;
font-weight: 400;
font-style: normal;
line-height: .5em;
margin-top: 1rem;

}