/*CSS document*/

body {
    background-color: #fafafa;
    margin: 1em;
}

div.container {
    max-width: 80em;
    margin: 0 auto 3em;
}

div.containerMain {
    max-width: 80em;
    margin: 0 auto 3em;
}

figure {
    margin: 0em;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0em;
    margin-bottom: 2.25em;
}

nav ul li {
    display: inline;
    list-style-type: none;
    margin-right: .75em;
    font-family: loos-normal,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    text-transform: uppercase;
}
  
nav ul li a {
    color: #242526;
    text-decoration: none;
}
  
nav ul li a:hover {
    color: #6B705C;
}

h1 {
    margin-bottom: 0.2em;
    width: 80%;
}

h2 {
    font-family: corundum-text,serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.65em;
    width: 18em;
    margin-top: 0.75em;
    margin-bottom: 0.5em;
    color: #2C3C20;
    line-height: 1.45;
}

h3 {
    font-family: corundum-text,serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.35em;
    width: 18em;
    margin-top: 0.75em;
    margin-bottom: 0.5em;
    color: #2C3C20;
}

figure {
    margin-top: 0.5em;
}

figcaption {
    font-family: loos-normal,sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    margin: 0.25em 1em 0.85em 0em;
    color: #242526;
}

p {
    font-family: loos-normal,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    margin: 0em 1em 0.5em 0em;
    color: #242526;
}

.teaserStoryimage a{
    text-decoration: none;

}

.teaserStoryimage a :hover{
    color: #6B705C;
}

.teaserStory a{
    text-decoration: none;
}

.teaserMain a{
    text-decoration: none;
}

.teaserMain a :hover{
    color: #6B705C;
    }

    section.teaserWord{
        margin-top: 1em;
        padding-bottom: 1.5em;
    }
footer{
    border-top: #242526;
    border-top-style: solid;
    margin-top: 3em ;
}
footer p{
    font-family: corundum-text,serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
    margin-top: 1em;
}

@media screen and (min-width: 60em){
    div.container{
        display: grid;
        grid-template-columns: 3fr;
        grid-gap: 0 1em;
    }
    div.containerMain{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 0 1em;
    }
    header{
        grid-column: 1/3;
        max-width: 60%;
    }

    main{
        
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 0 1em;
    }

    section.teaserMain{
        grid-column: 1/3;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }

    section.teaserMain figure {
        flex: 1 0 18em;
        display: flex;
        flex-direction: column;
    }
    section.teaserMain figure {
        flex: 1 0 18em;
        background-image: url(photo1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    section.teaserMain figure img {
        height: 80%;
        opacity: 0;
    }

    section.teaserMain figure figcaption{
        flex: 0 0 3em;
        margin-bottom: 0em;
    }
    section.teaserMain h3{
        flex: 0 0 auto;
        margin: 0;
        margin-bottom: 0.5em;
        margin-top: 1em;
    }

    section.teaserMain p{
        flex: 0 0 auto;
        margin: 0;
        max-width: 90%;
    }
    section.sidebar{
        grid-column: 3/3;
        grid-row: 1/3;
        display:flex; 
        flex-direction: column;
    }
    section.sidebar figure {
        flex: 1 0 18em;
        display: flex;
        flex-direction: column;
    }

    section.sidebar figure figcaption{
        flex: 0 0 3em;
        margin-bottom: 0em;
    }
    section.sidebar h3{
        flex: 0 0 auto;
        margin: 0;
        margin-bottom: 0.5em;
        margin-top: 1em;
    }

    section.sidebar p{
        flex: 0 0 auto;
        margin: 0;
    }

    section.teaserWord{
        grid-column: 1/3;
        grid-row: 4/4;
        display: inline-grid;
        max-width: 60%;
        
    }
    section.bottom{
        grid-column: 1/3;
       grid-row: 3/4;
       display:flex;
       flex-direction:row;
       grid-gap:0 1em;
       margin-top: 3em;

    }
    section.bottom img{
        width: 360px; 
        height: 250px; 
        object-fit: cover;
        
    }
    section.bottom figure{
        flex: 1 0 18em;
        display:flex;
        white-space: nowrap;
        
    }

    footer{
        grid-row: 4/4;
        grid-column: 1/3;
        display: grid;
    }

    article p{
        max-width:  45em;
        padding-bottom: 1.25em;
    }
    
}
